<div class="rounded float-start">
    <table class="table border" width="150">
      <tr >
        <th ><%= badge.name %><th>
      </tr>
      <tr> <img src="<%= badge.img %>"    
                height="150" 
                alt="<%= badge.name %>">
      </tr>
    </table>
</div>